//Roms and other stuff
*.sfc
*.bs
*.srm
*.z**
!*.zip

//No screenshots please
*.png

//No HxD rom backups
*.bak
atlas/log.log
atlas/BSFE1Eng.ips
atlas/BSFE2Eng.ips
atlas/BSFE3Eng.ips
atlas/BSFE4Eng.ips
